* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #ffffff;
  color: #1a1a1a;
}

h1,
h2,
h3 {
  font-family: "Cormorant Garamond", serif;
}
